/*-----SITE WIDE-----*/

* {
    font-family: "Winky-Sans", "Inter", sans-serif;
    box-sizing: border-box;
}

:root {
    --gray-color: #3C3E3E;
    --teal-color: #0D8274;
    --dark-teal-color: #04433c;
}

/*-----HEADER-----*/

header {
    display: grid;
    grid-template-columns: 24px auto 44px;
    align-items: end;
    padding: 5px 0 5px 10px;
    border-bottom: solid 1px #ddd;
    column-gap: 8px;
}

header img {
    display: block;
    width: 100%;
    height: auto;
}

header span {
    font-size: 1.5rem;
    color: var(--gray-color);
}


/*-----HAMBURGER-----*/

.hamburger {
    background: none;
    border: none;
    font-size: 2rem;
    color: var(--teal-color);
    cursor: pointer;
    font-family: Verdana;
}

.hamburger::before {
    content: "\2630";
    font-size: 2rem;
}

.hamburger.show::before {
    content: "\00D7";
}


/*-----NAVIGATION-----*/

.navigation {
    display: none;
}

.navigation.show {
    display: block;
}

.navigation a {    
    display: block;
    padding: 0.8rem 10px;
    text-decoration: none;
    color: var(--teal-color);
    border-bottom: solid 1px #ddd;
    font-size: 1.3rem;
}

.navigation a:hover {
    background-color: var(--gray-color);
}

.navigation ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navigation li.current {
    background-color: #ddd;    
}

h1 {
    margin-left: 10px;
    color: var(--gray-color);
}

/*-----FOOTER-----*/

footer {
    background-color: #eee;
    padding: 1rem 10px;
    text-align: center;
}

.icons {
    display: flex;
    justify-content: center;
    column-gap: 8px;
}

.icons a {
    display: flex;
    justify-content: center;
    align-items: center;    
    border: var(--gray-color) solid 1px;
    border-radius: 22px;
    width: 44px;
    height: 44px;
}

.icons a:hover {
    background-color: #ddd;
}

.icons img {
    width: 22px;
    height: 22px;
}

footer p {
    color: var(--dark-teal-color);
}