/*-----SITE WIDE-----*/

* {
    font-family: "Winky-Sans", "Inter", sans-serif;
    box-sizing: border-box;
}

:root {
    --gray-color: #3C3E3E;
    --teal-color: #0D8274;
}

/*-----HEADER-----*/

header {
    display: grid;
    grid-template-columns: 24px auto 44px;
    align-items: end;
    padding: 5px 0 5px 10px;
    border-bottom: solid 1px #ddd;
    column-gap: 8px;
}

header img {
    display: block;
    width: 100%;
    height: auto;
}

header span {
    font-size: 1.5rem;
    color: var(--gray-color);
}


/*-----HAMBURGER-----*/

.hamburger {
    background: none;
    border: none;
    font-size: 2rem;
    color: var(--teal-color);
    cursor: pointer;
    font-family: Verdana;
}

.hamburger::before {
    content: "\2630";
    font-size: 2rem;
}

.hamburger.show::before {
    content: "\00D7";
}


/*-----NAVIGATION-----*/

.navigation {
    display: none;
}

.navigation.show {
    display: block;
}

.navigation a {    
    text-decoration: none;
    color: var(--teal-color);
    font-size: 1.3rem;
    height: 44px;
    line-height: 44px;
}

.navigation ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    margin-bottom: 8px;
}