@media only screen and (min-width: 64rem) {

    header,
    main,
    nav,
    footer {
        max-width: 1500px;
        margin: 0 110px;
    }
    

    /*-----Header-----*/
    h1 {
        font-size: 3rem;
    }
    
    header {
        display: flex;
        justify-content: space-between;
        background: var(--main-color);
        border-bottom: .15rem solid var(--butterscotch);
    }

    .logo-header {
        padding-left: 0.5rem;
    }


    /*-----Navigation-----*/
    .hamburger {
        display: none;
    }

    .navigation {
        display: block;        
        margin: 0;         
        padding-top: 2rem;       
    }

    .navigation a {
        color: white;
        border: none;
        font-family: var(--heading-font);
        font-size: 1.2rem;
    }

    .navigation li.current {
        background-color: var(--pink);
    }

    .navigation ul {
        display: flex;
        flex-direction: row;
        list-style-type: none;
        margin: 0;
    }


    /*-----Index-----*/
    .hero-pictures {
        display: grid;
        grid-template-columns: 30% 40% 30%;
        max-height: 530px;
        overflow-y: hidden;
        overflow-x: hidden;
        margin-top: 0;
        border-bottom: .15rem solid var(--butterscotch);
    }

    picture {
        width: 100%;
        height: auto;
        object-fit: cover;
    }


    /*-----Shop-----*/
    #buttons {
        flex-direction: row;
        justify-content: space-around;

    }

    #shop button {
        width: 20%;
    }


    /*-----Class-----*/
    .class-cards-section {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    
    .class-card {
        margin: 1rem 8px;
        border: 1px solid black;        
        border-radius: 1rem;        
        overflow: hidden;
        display: grid;
        text-align: center;
        grid-template-areas:
            "picture name"
            "picture date"
            "picture time"
            "picture cost"
            "picture button";
    }

    .class-card img {
        width: 500px;
        height: 100%;        
    }

    .class-card p {
        margin-left: .3rem;
        margin-right: .3rem;
    }


    /*-----Footer-----*/
    .shop-contact-info {
        padding: 10px 0 10px 20px;
        align-items: flex-start;
    }

    .wdd231-info {
        align-items: flex-end;
        padding: 10px 20px 10px 0;
    }
}