:root {
    --heading-font: 'Newsreader';
    --text-font: 'Noto Sans';
    --main-color: #D5f5E7;
    --accent-color: #525457;
    --accent-color-2: #ddd;
    --accent-color-3: #babec5;
    --text-color: black;
}

@font-face {
    font-family: 'Newsreader';
    src: url('…');
    font-display: swap;
}


/*-----Header-----*/
.chamber-header {
    background: var(--main-color);
    display: flex;
    justify-content: space-between;
}

h1 {
    font-size: 1.2rem;
    font-family: var(--heading-font);
}

.logo-header {
    display: flex;
    justify-content: flex-start;
}

.logo-header img {
    display: block;
    margin: auto 5px;
}


/*-----Navigation-----*/
.hamburger {
    background: var(--accent-color);
    border: none;
    font-size: 2rem;
    color: white;
    cursor: pointer;
    font-family: var(--text-font);
}

.hamburger::before {
    content: "\2630";
    font-size: 2rem;
}

.hamburger.show::before {
    content: "\00D7";
}

.navigation {
    display: none;
}

.navigation.show {
    display: block;
}

.navigation a {
    display: block;
    padding: 0.8rem 10px;
    text-decoration: none;
    color: black;
    border-bottom: solid 1px var(--accent-color-2);
    font-size: 1.3rem;
    font-family: var(--text-font);
}

.navigation a:hover {
    background-color: var(--accent-color-3);
}

.navigation ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navigation li {
    color: var(--accent-color);
}

.navigation li.current {
    background-color: var(--accent-color-2);
}


/*-----Main: Directory-----*/
.display-buttons {
    display: flex;
    justify-content: center;
    padding: 20px;
}

.button {
    margin: 5px;
    width: 120px;
    height: 40px;
    font-family: var(--text-font);
    padding: 7px;
    background: var(--accent-color);
    color: white;
    border-radius: 2rem;
}

h1 {
    font-size: 2rem;
}


/*-----Main: Index-----*/
.hero-and-call {
    position: relative;
}

.hero img {
    display: block;
    width: 100%;
    height: 350px;
    object-fit: cover;
}

.call-to-action {
    position: absolute;
    top: 70%;
    left: 40%;
    background: var(--accent-color);
    color: white;
    padding: 0.5rem;
    text-align: center;
    border: 1px solid var(--accent-color-2);
    border-radius: 10px;
    text-decoration: none;
    font-family: var(--text-font);
}

.middle-blocks, .random-business-cards {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.current-weather, .current-events, .forecast {
    width: 100%;
    height: 200px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr 4fr;
    border: 1px solid black;
    border-radius: 10px;
    background: var(--accent-color-2);
    color: black;
    font-family: var(--text-font);
    margin-bottom: 10px;
}

.current-weather h2, .current-events h2, .forecast h2 {
    grid-column: 1/3;
    grid-row: 1/2;
    text-align: center;
    border-bottom: 2px solid black;
    margin-bottom: 0;
    padding-bottom: 0.15rem;
    font-family: var(--heading-font);
}

.events {
    grid-column: 1/3;
    grid-row: 2/3;
    margin-left: 5px;
}

.events ul {
    list-style-type: none;
    padding: 0.15rem;
}

.events li {
    padding: 0.15rem;
}

.weather-grid-1 {
    grid-column: 1/2;
    grid-row: 2/3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;    
}

.weather-grid-2 {
    grid-column: 2/3;
    grid-row: 2/3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.weather-grid-2 span {
    padding: .15rem;
}

#weather-description {
    text-align: center;
    margin-top: 0;
}

.forecast-entries {
    grid-column: 1/3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;    
}

.forecast-entries span {
    padding: 0.15rem;
}

.random-business-cards {
    margin-bottom: 15px;
}

.contact-info p {
    margin: 0;
    padding: 0.15rem;
    font-family: var(--text-font);
    text-align: center;
}


/*-----Main: Directory Cards-----*/
.grid-view {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 5px;
    align-items: center;
    padding-bottom: 20px;
}

.business-card {
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: center;
    font-family: var(--text-font);
    border: var(--accent-color) 1px solid;
    box-shadow: 0 3px 3px #777;
}

.business-card h2 {
    margin: 8px 0;
}

.logo-and-contact {
    display: grid;
    grid-template-columns: 1fr 2fr;
    padding: 0 3px 3px 3px;
    border-top: black 1px solid;
    padding-top: 10px;
}

.logo-and-contact img {
    display: block;
    margin: 0 auto;
    height: 50px;
    width: auto;
    padding: 5px;
}

.contact-info {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;    
}

.contact-info p {
    text-align: left;
}

/*-----Main: List-----*/

.list-items {
    font-family: var(--text-font);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

.list-items h2 {
    margin-bottom: 2px;
}


/*----Main: Index List and Grid-----*/
.contact-info address,
.contact-info a,
.list-items address,
.list-items a {
    font-family: var(--text-font);
}


/*-----Main: Join Form-----*/
form {
    margin: 1rem 2%;

    label {
        display: block;        
        padding-top: .2rem;
        font-size: 1rem;
        font-family: var(--text-font);
    }

    h3 {
        font-size: 1.3rem;
        color: var(--accent-color);
        margin: 1.5rem 0 .2rem 0;
        border-bottom: 1px solid var(--main-color);
    }

    input[type=text],
    input[type=tel],    
    input[type=email],
    textarea {
        display: block;
        margin: .1rem 0 1rem 0;
        padding: .3rem;
        border: 1px solid var(--accent-color-3);
        border-radius: 4px;
        border-left-width: 5px;
        border-left-color: var(--accent-color);
        font-size: 1rem;
        color: black;
        width: 250px;
        font-family: var(--text-font);
    }

    input:required {
        border-left-color: #d70000;
    }

    input:focus {
        border-left-color: black;
        outline: none;
    }

    input:required:valid {
        border-left-color: green;
    }

    input[type=submit] {
        border: none;
        text-align: center;
        background-color: var(--accent-color);
        color: white;
        border-radius: 1rem;
        padding: .75rem 1.5rem;
        margin: 2rem 0;
        font-size: 1.2rem;
        font-family: var(--text-font);        
        appearance: none;
    }
}


/*-----Thanks.html-----*/
#confirmation {
    text-align: center;
    font-family: var(--text-font);
}


/*-----Main: Join Membership Levels-----*/
#join {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 5px;
    justify-content: center;
}

#join h2 {
    text-align: center;
}

@keyframes fadeColor {
    from {
        background-color: var(--main-color);
        transform: translateX(100px);
        opacity: 0;
    }
    to {
        background-color: var(--accent-color-2);
        transform: translateX(0);
        opacity: 1;
    }
}

.level-box {
    background-color: var(--accent-color-2);
    margin: 0 5px 10px 5px; 
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: 4px 6px 8px 2px rgba(0, 0, 0, 0.25);
    animation: fadeColor 3s ease-in-out 1 forwards;       
}

.level-box h3 {
    text-align: center;
    font-family: var(--text-font);
}

.level-box button {
    width: 120px;
    display: block;
    margin: 0 auto 15px auto;
    background-color: var(--accent-color);
    color: white;
    font-family: var(--text-font);
    padding: 5px;
    border-radius: 1rem;        
}

#mydialog h3, #mydialog p {
    font-family: var(--text-font);
    text-align: center;
}

#mydialog ul {
    font-family: var(--text-font);
}

#close-button {
    display: block;
    margin: 0 auto;
    font-family: var(--text-font);
    width: 150px;    
}

/*-----Main and Footer-----*/

.contact-info address,
.chamber-contact-info address,
.list-items address {
    font-style: normal;
    text-align: left;

}

.contact-info address,
.contact-info a,
.chamber-contact-info address,
.chamber-contact-info a,
.list-items address,
.list-items a {
    text-decoration: none;
    color: black;
    font-size: .7rem;
    font-size: 0.9rem;
}


/*-----Footer-----*/
footer {
    background: var(--main-color);
    font-family: var(--heading-font);
    font-size: 0.9rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.chamber-contact-info,
.wdd231-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px 0;
}

.chamber-contact-info *,
.wdd231-info * {
    margin: 0;
}

.icons {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 8px;
}

.icons a {
    display: flex;
    justify-content: center;
    align-items: center;
    border: black solid 1px;
    border-radius: 22px;
    width: 44px;
    height: 44px;
}

.icons a:hover {
    background-color: var(--green-color);
}

.icons img {
    width: 22px;
    height: 22px;
}