:root {
    --heading-font: 'Newsreader';
    --text-font: 'Noto Sans';
    --main-color: #D5f5E7;
    --accent-color: #525457;
    --accent-color-2: #ddd;
    --accent-color-3: #babec5;
    --text-color: black;
}

/*-----Header-----*/
.chamber-header {
    background: var(--main-color);
    display: flex;
    justify-content: space-between;
}

h1 {
    font-size: 1.2rem;
    font-family: var(--heading-font);
}

.logo-header {
    display: flex;
    justify-content: flex-start;
}

.logo-header img {
    display: block;
    margin: auto 5px;
}

/*-----Navigation-----*/
.hamburger {
    background: var(--accent-color);
    border: none;
    font-size: 2rem;
    color: white;
    cursor: pointer;
    font-family: var(--text-font);
}

.hamburger::before {
    content: "\2630";
    font-size: 2rem;
}

.hamburger.show::before {
    content: "\00D7";
}

.navigation {
    display: none;
}

.navigation.show {
    display: block;
}

.navigation a {
    display: block;
    padding: 0.8rem 10px;
    text-decoration: none;
    color: black;
    border-bottom: solid 1px var(--accent-color-2);
    font-size: 1.3rem;
    font-family: var(--text-font);
}

.navigation a:hover {
    background-color: var(--accent-color-3);
}

.navigation ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navigation li {
    color: var(--accent-color);
}

.navigation li.current {
    background-color: var(--accent-color-2);
}

/*-----Main-----*/
.display-buttons {
    display: flex;
    justify-content: center;
    padding: 20px;
}

.button {
    margin: 5px;
    width: 120px;
    height: 40px;
    font-family: var(--text-font);
    padding: 7px;
    background: var(--accent-color);
    color: white;
}

/*-----Main: Cards-----*/
.grid-view {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 5px;
    align-items: center;
    padding-bottom: 20px;
}

.business-card {
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: center;
    font-family: var(--text-font);
    border: var(--accent-color) 1px solid;
    box-shadow: 0 3px 3px #777;
}

.business-card h2 {
    margin: 8px 0;
}

.logo-and-contact {
    display: grid;
    grid-template-columns: 1fr 2fr;
    padding: 0 3px 3px 3px;
    border-top: black 1px solid;
    padding-top: 10px;
}

.logo-and-contact img {
    display: block;
    margin: 0 auto;
    height: 50px;
    width: auto;
    padding: 5px;
}

.contact-info {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: center;
}

/*-----Main: List-----*/

.list-items {
    font-family: var(--text-font);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

.list-items h2 {
    margin-bottom: 2px;
}

/*----Main: List and Grid-----*/
.contact-info address,
.contact-info a,
.list-items address,
.list-items a {
    font-family: var(--text-font);
}

/*-----Main and Footer-----*/

.contact-info address,
.chamber-contact-info address,
.list-items address {
    font-style: normal;
    text-align: left;

}

.contact-info address,
.contact-info a,
.chamber-contact-info address,
.chamber-contact-info a,
.list-items address,
.list-items a {
    text-decoration: none;
    color: black;
    font-size: .7rem;
    font-size: 0.9rem;
}

/*-----Footer-----*/
footer {
    background: var(--main-color);
    font-family: var(--heading-font);
    font-size: 0.9rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.chamber-contact-info,
.wdd231-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px 0;
}

.chamber-contact-info *,
.wdd231-info * {
    margin: 0;
}

.icons {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 8px;
}

.icons a {
    display: flex;
    justify-content: center;
    align-items: center;
    border: black solid 1px;
    border-radius: 22px;
    width: 44px;
    height: 44px;
}

.icons a:hover {
    background-color: var(--green-color);
}

.icons img {
    width: 22px;
    height: 22px;
}