@media only screen and (min-width: 64rem) {

    header,
    main,
    nav,
    footer {
        max-width: 900px;
        margin: 0 110px;
    }


    /*-----Header-----*/
    header {
        display: flex;   
        justify-content: space-between;   
        background: var(--main-color);
    }

    .logo-header {
        padding-left: 0.5rem;
    }


    /*-----Navigation-----*/
    .hamburger {
        display: none;
    }

    .navigation {
        display: block;
        border-bottom: solid 1px #eee;
        margin: 0;
        padding-right: 0.5rem;        
    }

    .navigation a {
        color: black;
        border: none;
        font-family: var(--heading-font);
        font-size: 1.1rem;
    }

    .navigation li.current {
        text-decoration: underline;
    }

    .navigation ul {
        display: flex;
        flex-direction: row;       
        list-style-type: none;        
        margin: 0;
    }

    /*-----Main: Index-----*/
    .call-to-action {        
        left: 65%;
    }

    /*-----Main: Discover-----*/

    .local-attractions {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .location-card img {
        width: 150px;
        height: 100%;
        object-fit: cover;
    }

    .picture-hover-effect:hover {
        transform: scale(1.1);
    }


    /*-----Footer-----*/
    .chamber-contact-info {
        padding: 10px 0 10px 20px;
    }

    .wdd231-info {
        align-items: flex-end;        
        padding: 10px 20px 10px 0;
    }
}